
{% extends "tournament\header.html" %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'tournament\form.css' %}">
{% endblock %}

{% block content %}
    <div class="form">
        <h1>{{ title }}</h1>
        <form action="{{ url }}" method="post">
            {% csrf_token %}
            {{ form }}
            {% for message in messages %}
                <p class="message">{{ message }}</p>
            {% endfor %}
            <div class="button-container">
                <button>Submit</button>
            </div>
        </form>
    </div>
{% endblock %}
