<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'tournament\header.css' %}">
    
    {% block style %}
    {% endblock %}

</head>
<body class="center">
    <div class="header">
        <div class="divTable">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">
                    <a href="/home"><h3>Home</h3></a>
                </div>
                <div class="divTableCell">
                    <a href="/tournament/home"><h1>Tournament</h1></a>
                </div>
                <div class="divTableCell">
                    <a href="/tournament/scoreboard">Scoreboard</a>
                    <a href="/tournament/players">Players</a>
                    <a href="/tournament/register/">Register</a>
                    <a href="/tournament/coachsection/">Coach Section</a>
                </div>
            </div>
        </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>