
{% extends "tournament\header.html" %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'tournament\register.css' %}">
{% endblock %}

{% block content %}
    <div class="flex-container">
        <div>
            <a href="/tournament/register/team">Team</a>
            <h2 class="description">Register a new team!</h2>
        </div>
        <div>
            <a style="background-color: orange" href="/tournament/register/player">Player</a>
            <h2 class="description">Register a new player!</h2>
        </div>
        <div>
            <a style="background-color: #f4511e" href="/tournament/register/coach">Coach</a>
            <h2 class="description">Register a new coach!</h2>
        </div>
    </div>
{% endblock %}