@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.flex-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-family: Roboto;
}

.flex-container > div {
    margin: 1rem;
    text-align: center;
    width: 100%;
}

.posts {
    background-color: brown;
}

.tournament {
    background-color: lightseagreen;
}

.flex-container a, .flex-container a:visited {
    display: inline-block;
    box-sizing: border-box;
    padding: 16rem 2rem;
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    opacity: 0.8;
    transition: 0.3s;
}

.flex-container a:hover {
    opacity: 1.0;
    transform: scale(1.05);
}