@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.flex-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.flex-container > div {
    margin: 1rem;
    text-align: center;
    width: 100%;
}

.flex-container a, .flex-container a:visited {
    background-color: lightseagreen;
    display: inline-block;
    box-sizing: border-box;
    padding: 6rem 2rem;
    width: 100%;
    font-family: Roboto;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.flex-container a:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

.flex-container .description {
    font-family: Roboto;
    font-size: 2rem;
    z-index: -1;
    position: relative;
    visibility: hidden;
    top: -5rem;
}

.flex-container a:hover + .description {
    transition: 0.3s;
    top: 0;
    visibility: visible;
}