@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.table {
    display: inline-block;
    text-align: center;
}

.table h1 {
    font-family: Roboto;
    text-align: center;
    padding: 2rem;
    background-color: lightseagreen;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 0;
}

.table table {
    border-spacing: 1px;
    font-family: Roboto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.table th {
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
    background-color: lightseagreen;
}

.table td {
    padding: 1rem 2rem;
    background-color: lightgray;
}